#layout-builder {
  border: 0;
  padding: 5px;
}
#layout-builder .layout-builder__link--add {
  display: inline-block;
  color: white;
  background: #555;
  font-size: 16px;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  padding: 0.33em 0.66em;
  font-weight: bold;
}
#layout-builder .layout-builder__link--add:hover, #layout-builder .layout-builder__link--add:focus {
  background: #003cc5;
  color: white;
}
#layout-builder .layout-builder__add-section {
  background-color: transparent;
  padding: 0;
  outline: 0;
  border: 0;
  margin: 16px 0 0 0;
}
#layout-builder .layout-builder__link--configure {
  font-size: 16px;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #003cc5;
  font-style: normal;
  font-weight: bold;
}
#layout-builder .layout-builder__link--remove {
  margin-left: -2px;
  transform: translateY(-4px);
}
#layout-builder .layout-builder__add-block {
  background-color: transparent;
  padding: 0;
  outline: 0;
  border: 0;
  margin: 16px 0;
}
#layout-builder .layout-builder-block__content-preview-placeholder-label {
  font-size: 16px;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
}
#layout-builder .layout-builder-block {
  background-color: transparent;
}
#layout-builder .layout-builder__section .ui-state-drop {
  margin: 20px;
  padding: 30px;
  outline: 2px dashed #fedb60;
  background-color: #ffd;
  color: black;
}

/*# sourceMappingURL=layout_builder.css.map */
