.pt-none {
  padding-top: var(--grid--vertical-padding--none);
}

.mt-none {
  margin-top: var(--grid--vertical-padding--none);
}

.pt-thin {
  padding-top: var(--grid--vertical-padding--thin);
}

.mt-thin {
  margin-top: var(--grid--vertical-padding--thin);
}

.pt-small {
  padding-top: var(--grid--vertical-padding--small);
}

.mt-small {
  margin-top: var(--grid--vertical-padding--small);
}

.pt-large {
  padding-top: var(--grid--vertical-padding--large);
}

.mt-large {
  margin-top: var(--grid--vertical-padding--large);
}

.pr-none {
  padding-right: var(--grid--vertical-padding--none);
}

.mr-none {
  margin-right: var(--grid--vertical-padding--none);
}

.pr-thin {
  padding-right: var(--grid--vertical-padding--thin);
}

.mr-thin {
  margin-right: var(--grid--vertical-padding--thin);
}

.pr-small {
  padding-right: var(--grid--vertical-padding--small);
}

.mr-small {
  margin-right: var(--grid--vertical-padding--small);
}

.pr-large {
  padding-right: var(--grid--vertical-padding--large);
}

.mr-large {
  margin-right: var(--grid--vertical-padding--large);
}

.pb-none {
  padding-bottom: var(--grid--vertical-padding--none);
}

.mb-none {
  margin-bottom: var(--grid--vertical-padding--none);
}

.pb-thin {
  padding-bottom: var(--grid--vertical-padding--thin);
}

.mb-thin {
  margin-bottom: var(--grid--vertical-padding--thin);
}

.pb-small {
  padding-bottom: var(--grid--vertical-padding--small);
}

.mb-small {
  margin-bottom: var(--grid--vertical-padding--small);
}

.pb-large {
  padding-bottom: var(--grid--vertical-padding--large);
}

.mb-large {
  margin-bottom: var(--grid--vertical-padding--large);
}

.pl-none {
  padding-left: var(--grid--vertical-padding--none);
}

.ml-none {
  margin-left: var(--grid--vertical-padding--none);
}

.pl-thin {
  padding-left: var(--grid--vertical-padding--thin);
}

.ml-thin {
  margin-left: var(--grid--vertical-padding--thin);
}

.pl-small {
  padding-left: var(--grid--vertical-padding--small);
}

.ml-small {
  margin-left: var(--grid--vertical-padding--small);
}

.pl-large {
  padding-left: var(--grid--vertical-padding--large);
}

.ml-large {
  margin-left: var(--grid--vertical-padding--large);
}

@media (max-width: 767px) {
  .pt-none\@xs {
    padding-top: var(--grid--vertical-padding--none);
  }

  .mt-none\@xs {
    margin-top: var(--grid--vertical-padding--none);
  }

  .pt-thin\@xs {
    padding-top: var(--grid--vertical-padding--thin);
  }

  .mt-thin\@xs {
    margin-top: var(--grid--vertical-padding--thin);
  }

  .pt-small\@xs {
    padding-top: var(--grid--vertical-padding--small);
  }

  .mt-small\@xs {
    margin-top: var(--grid--vertical-padding--small);
  }

  .pt-large\@xs {
    padding-top: var(--grid--vertical-padding--large);
  }

  .mt-large\@xs {
    margin-top: var(--grid--vertical-padding--large);
  }

  .pr-none\@xs {
    padding-right: var(--grid--vertical-padding--none);
  }

  .mr-none\@xs {
    margin-right: var(--grid--vertical-padding--none);
  }

  .pr-thin\@xs {
    padding-right: var(--grid--vertical-padding--thin);
  }

  .mr-thin\@xs {
    margin-right: var(--grid--vertical-padding--thin);
  }

  .pr-small\@xs {
    padding-right: var(--grid--vertical-padding--small);
  }

  .mr-small\@xs {
    margin-right: var(--grid--vertical-padding--small);
  }

  .pr-large\@xs {
    padding-right: var(--grid--vertical-padding--large);
  }

  .mr-large\@xs {
    margin-right: var(--grid--vertical-padding--large);
  }

  .pb-none\@xs {
    padding-bottom: var(--grid--vertical-padding--none);
  }

  .mb-none\@xs {
    margin-bottom: var(--grid--vertical-padding--none);
  }

  .pb-thin\@xs {
    padding-bottom: var(--grid--vertical-padding--thin);
  }

  .mb-thin\@xs {
    margin-bottom: var(--grid--vertical-padding--thin);
  }

  .pb-small\@xs {
    padding-bottom: var(--grid--vertical-padding--small);
  }

  .mb-small\@xs {
    margin-bottom: var(--grid--vertical-padding--small);
  }

  .pb-large\@xs {
    padding-bottom: var(--grid--vertical-padding--large);
  }

  .mb-large\@xs {
    margin-bottom: var(--grid--vertical-padding--large);
  }

  .pl-none\@xs {
    padding-left: var(--grid--vertical-padding--none);
  }

  .ml-none\@xs {
    margin-left: var(--grid--vertical-padding--none);
  }

  .pl-thin\@xs {
    padding-left: var(--grid--vertical-padding--thin);
  }

  .ml-thin\@xs {
    margin-left: var(--grid--vertical-padding--thin);
  }

  .pl-small\@xs {
    padding-left: var(--grid--vertical-padding--small);
  }

  .ml-small\@xs {
    margin-left: var(--grid--vertical-padding--small);
  }

  .pl-large\@xs {
    padding-left: var(--grid--vertical-padding--large);
  }

  .ml-large\@xs {
    margin-left: var(--grid--vertical-padding--large);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .pt-none\@sm {
    padding-top: var(--grid--vertical-padding--none);
  }

  .mt-none\@sm {
    margin-top: var(--grid--vertical-padding--none);
  }

  .pt-thin\@sm {
    padding-top: var(--grid--vertical-padding--thin);
  }

  .mt-thin\@sm {
    margin-top: var(--grid--vertical-padding--thin);
  }

  .pt-small\@sm {
    padding-top: var(--grid--vertical-padding--small);
  }

  .mt-small\@sm {
    margin-top: var(--grid--vertical-padding--small);
  }

  .pt-large\@sm {
    padding-top: var(--grid--vertical-padding--large);
  }

  .mt-large\@sm {
    margin-top: var(--grid--vertical-padding--large);
  }

  .pr-none\@sm {
    padding-right: var(--grid--vertical-padding--none);
  }

  .mr-none\@sm {
    margin-right: var(--grid--vertical-padding--none);
  }

  .pr-thin\@sm {
    padding-right: var(--grid--vertical-padding--thin);
  }

  .mr-thin\@sm {
    margin-right: var(--grid--vertical-padding--thin);
  }

  .pr-small\@sm {
    padding-right: var(--grid--vertical-padding--small);
  }

  .mr-small\@sm {
    margin-right: var(--grid--vertical-padding--small);
  }

  .pr-large\@sm {
    padding-right: var(--grid--vertical-padding--large);
  }

  .mr-large\@sm {
    margin-right: var(--grid--vertical-padding--large);
  }

  .pb-none\@sm {
    padding-bottom: var(--grid--vertical-padding--none);
  }

  .mb-none\@sm {
    margin-bottom: var(--grid--vertical-padding--none);
  }

  .pb-thin\@sm {
    padding-bottom: var(--grid--vertical-padding--thin);
  }

  .mb-thin\@sm {
    margin-bottom: var(--grid--vertical-padding--thin);
  }

  .pb-small\@sm {
    padding-bottom: var(--grid--vertical-padding--small);
  }

  .mb-small\@sm {
    margin-bottom: var(--grid--vertical-padding--small);
  }

  .pb-large\@sm {
    padding-bottom: var(--grid--vertical-padding--large);
  }

  .mb-large\@sm {
    margin-bottom: var(--grid--vertical-padding--large);
  }

  .pl-none\@sm {
    padding-left: var(--grid--vertical-padding--none);
  }

  .ml-none\@sm {
    margin-left: var(--grid--vertical-padding--none);
  }

  .pl-thin\@sm {
    padding-left: var(--grid--vertical-padding--thin);
  }

  .ml-thin\@sm {
    margin-left: var(--grid--vertical-padding--thin);
  }

  .pl-small\@sm {
    padding-left: var(--grid--vertical-padding--small);
  }

  .ml-small\@sm {
    margin-left: var(--grid--vertical-padding--small);
  }

  .pl-large\@sm {
    padding-left: var(--grid--vertical-padding--large);
  }

  .ml-large\@sm {
    margin-left: var(--grid--vertical-padding--large);
  }
}
@media (min-width: 1024px) and (max-width: 1319px) {
  .pt-none\@md {
    padding-top: var(--grid--vertical-padding--none);
  }

  .mt-none\@md {
    margin-top: var(--grid--vertical-padding--none);
  }

  .pt-thin\@md {
    padding-top: var(--grid--vertical-padding--thin);
  }

  .mt-thin\@md {
    margin-top: var(--grid--vertical-padding--thin);
  }

  .pt-small\@md {
    padding-top: var(--grid--vertical-padding--small);
  }

  .mt-small\@md {
    margin-top: var(--grid--vertical-padding--small);
  }

  .pt-large\@md {
    padding-top: var(--grid--vertical-padding--large);
  }

  .mt-large\@md {
    margin-top: var(--grid--vertical-padding--large);
  }

  .pr-none\@md {
    padding-right: var(--grid--vertical-padding--none);
  }

  .mr-none\@md {
    margin-right: var(--grid--vertical-padding--none);
  }

  .pr-thin\@md {
    padding-right: var(--grid--vertical-padding--thin);
  }

  .mr-thin\@md {
    margin-right: var(--grid--vertical-padding--thin);
  }

  .pr-small\@md {
    padding-right: var(--grid--vertical-padding--small);
  }

  .mr-small\@md {
    margin-right: var(--grid--vertical-padding--small);
  }

  .pr-large\@md {
    padding-right: var(--grid--vertical-padding--large);
  }

  .mr-large\@md {
    margin-right: var(--grid--vertical-padding--large);
  }

  .pb-none\@md {
    padding-bottom: var(--grid--vertical-padding--none);
  }

  .mb-none\@md {
    margin-bottom: var(--grid--vertical-padding--none);
  }

  .pb-thin\@md {
    padding-bottom: var(--grid--vertical-padding--thin);
  }

  .mb-thin\@md {
    margin-bottom: var(--grid--vertical-padding--thin);
  }

  .pb-small\@md {
    padding-bottom: var(--grid--vertical-padding--small);
  }

  .mb-small\@md {
    margin-bottom: var(--grid--vertical-padding--small);
  }

  .pb-large\@md {
    padding-bottom: var(--grid--vertical-padding--large);
  }

  .mb-large\@md {
    margin-bottom: var(--grid--vertical-padding--large);
  }

  .pl-none\@md {
    padding-left: var(--grid--vertical-padding--none);
  }

  .ml-none\@md {
    margin-left: var(--grid--vertical-padding--none);
  }

  .pl-thin\@md {
    padding-left: var(--grid--vertical-padding--thin);
  }

  .ml-thin\@md {
    margin-left: var(--grid--vertical-padding--thin);
  }

  .pl-small\@md {
    padding-left: var(--grid--vertical-padding--small);
  }

  .ml-small\@md {
    margin-left: var(--grid--vertical-padding--small);
  }

  .pl-large\@md {
    padding-left: var(--grid--vertical-padding--large);
  }

  .ml-large\@md {
    margin-left: var(--grid--vertical-padding--large);
  }
}
@media (min-width: 1320px) {
  .pt-none\@lg {
    padding-top: var(--grid--vertical-padding--none);
  }

  .mt-none\@lg {
    margin-top: var(--grid--vertical-padding--none);
  }

  .pt-thin\@lg {
    padding-top: var(--grid--vertical-padding--thin);
  }

  .mt-thin\@lg {
    margin-top: var(--grid--vertical-padding--thin);
  }

  .pt-small\@lg {
    padding-top: var(--grid--vertical-padding--small);
  }

  .mt-small\@lg {
    margin-top: var(--grid--vertical-padding--small);
  }

  .pt-large\@lg {
    padding-top: var(--grid--vertical-padding--large);
  }

  .mt-large\@lg {
    margin-top: var(--grid--vertical-padding--large);
  }

  .pr-none\@lg {
    padding-right: var(--grid--vertical-padding--none);
  }

  .mr-none\@lg {
    margin-right: var(--grid--vertical-padding--none);
  }

  .pr-thin\@lg {
    padding-right: var(--grid--vertical-padding--thin);
  }

  .mr-thin\@lg {
    margin-right: var(--grid--vertical-padding--thin);
  }

  .pr-small\@lg {
    padding-right: var(--grid--vertical-padding--small);
  }

  .mr-small\@lg {
    margin-right: var(--grid--vertical-padding--small);
  }

  .pr-large\@lg {
    padding-right: var(--grid--vertical-padding--large);
  }

  .mr-large\@lg {
    margin-right: var(--grid--vertical-padding--large);
  }

  .pb-none\@lg {
    padding-bottom: var(--grid--vertical-padding--none);
  }

  .mb-none\@lg {
    margin-bottom: var(--grid--vertical-padding--none);
  }

  .pb-thin\@lg {
    padding-bottom: var(--grid--vertical-padding--thin);
  }

  .mb-thin\@lg {
    margin-bottom: var(--grid--vertical-padding--thin);
  }

  .pb-small\@lg {
    padding-bottom: var(--grid--vertical-padding--small);
  }

  .mb-small\@lg {
    margin-bottom: var(--grid--vertical-padding--small);
  }

  .pb-large\@lg {
    padding-bottom: var(--grid--vertical-padding--large);
  }

  .mb-large\@lg {
    margin-bottom: var(--grid--vertical-padding--large);
  }

  .pl-none\@lg {
    padding-left: var(--grid--vertical-padding--none);
  }

  .ml-none\@lg {
    margin-left: var(--grid--vertical-padding--none);
  }

  .pl-thin\@lg {
    padding-left: var(--grid--vertical-padding--thin);
  }

  .ml-thin\@lg {
    margin-left: var(--grid--vertical-padding--thin);
  }

  .pl-small\@lg {
    padding-left: var(--grid--vertical-padding--small);
  }

  .ml-small\@lg {
    margin-left: var(--grid--vertical-padding--small);
  }

  .pl-large\@lg {
    padding-left: var(--grid--vertical-padding--large);
  }

  .ml-large\@lg {
    margin-left: var(--grid--vertical-padding--large);
  }
}
.pt-1rem {
  padding-top: 1rem;
}

.mt-1rem {
  margin-top: 1rem;
}

.pt-2rem {
  padding-top: 2rem;
}

.mt-2rem {
  margin-top: 2rem;
}

.pt-3rem {
  padding-top: 3rem;
}

.mt-3rem {
  margin-top: 3rem;
}

.pt-4rem {
  padding-top: 4rem;
}

.mt-4rem {
  margin-top: 4rem;
}

.pt-5rem {
  padding-top: 5rem;
}

.mt-5rem {
  margin-top: 5rem;
}

.pt-6rem {
  padding-top: 6rem;
}

.mt-6rem {
  margin-top: 6rem;
}

.pt-7rem {
  padding-top: 7rem;
}

.mt-7rem {
  margin-top: 7rem;
}

.pt-8rem {
  padding-top: 8rem;
}

.mt-8rem {
  margin-top: 8rem;
}

.pt-9rem {
  padding-top: 9rem;
}

.mt-9rem {
  margin-top: 9rem;
}

.pb-1rem {
  padding-bottom: 1rem;
}

.mb-1rem {
  margin-bottom: 1rem;
}

.pb-2rem {
  padding-bottom: 2rem;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.pb-3rem {
  padding-bottom: 3rem;
}

.mb-3rem {
  margin-bottom: 3rem;
}

.pb-4rem {
  padding-bottom: 4rem;
}

.mb-4rem {
  margin-bottom: 4rem;
}

.pb-5rem {
  padding-bottom: 5rem;
}

.mb-5rem {
  margin-bottom: 5rem;
}

.pb-6rem {
  padding-bottom: 6rem;
}

.mb-6rem {
  margin-bottom: 6rem;
}

.pb-7rem {
  padding-bottom: 7rem;
}

.mb-7rem {
  margin-bottom: 7rem;
}

.pb-8rem {
  padding-bottom: 8rem;
}

.mb-8rem {
  margin-bottom: 8rem;
}

.pb-9rem {
  padding-bottom: 9rem;
}

.mb-9rem {
  margin-bottom: 9rem;
}

@media (max-width: 767px) {
  .pt-1rem\@xs {
    padding-top: 1rem;
  }

  .mt-1rem\@xs {
    margin-top: 1rem;
  }

  .pt-2rem\@xs {
    padding-top: 2rem;
  }

  .mt-2rem\@xs {
    margin-top: 2rem;
  }

  .pt-3rem\@xs {
    padding-top: 3rem;
  }

  .mt-3rem\@xs {
    margin-top: 3rem;
  }

  .pt-4rem\@xs {
    padding-top: 4rem;
  }

  .mt-4rem\@xs {
    margin-top: 4rem;
  }

  .pt-5rem\@xs {
    padding-top: 5rem;
  }

  .mt-5rem\@xs {
    margin-top: 5rem;
  }

  .pt-6rem\@xs {
    padding-top: 6rem;
  }

  .mt-6rem\@xs {
    margin-top: 6rem;
  }

  .pt-7rem\@xs {
    padding-top: 7rem;
  }

  .mt-7rem\@xs {
    margin-top: 7rem;
  }

  .pt-8rem\@xs {
    padding-top: 8rem;
  }

  .mt-8rem\@xs {
    margin-top: 8rem;
  }

  .pt-9rem\@xs {
    padding-top: 9rem;
  }

  .mt-9rem\@xs {
    margin-top: 9rem;
  }

  .pb-1rem\@xs {
    padding-bottom: 1rem;
  }

  .mb-1rem\@xs {
    margin-bottom: 1rem;
  }

  .pb-2rem\@xs {
    padding-bottom: 2rem;
  }

  .mb-2rem\@xs {
    margin-bottom: 2rem;
  }

  .pb-3rem\@xs {
    padding-bottom: 3rem;
  }

  .mb-3rem\@xs {
    margin-bottom: 3rem;
  }

  .pb-4rem\@xs {
    padding-bottom: 4rem;
  }

  .mb-4rem\@xs {
    margin-bottom: 4rem;
  }

  .pb-5rem\@xs {
    padding-bottom: 5rem;
  }

  .mb-5rem\@xs {
    margin-bottom: 5rem;
  }

  .pb-6rem\@xs {
    padding-bottom: 6rem;
  }

  .mb-6rem\@xs {
    margin-bottom: 6rem;
  }

  .pb-7rem\@xs {
    padding-bottom: 7rem;
  }

  .mb-7rem\@xs {
    margin-bottom: 7rem;
  }

  .pb-8rem\@xs {
    padding-bottom: 8rem;
  }

  .mb-8rem\@xs {
    margin-bottom: 8rem;
  }

  .pb-9rem\@xs {
    padding-bottom: 9rem;
  }

  .mb-9rem\@xs {
    margin-bottom: 9rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .pt-1rem\@sm {
    padding-top: 1rem;
  }

  .mt-1rem\@sm {
    margin-top: 1rem;
  }

  .pt-2rem\@sm {
    padding-top: 2rem;
  }

  .mt-2rem\@sm {
    margin-top: 2rem;
  }

  .pt-3rem\@sm {
    padding-top: 3rem;
  }

  .mt-3rem\@sm {
    margin-top: 3rem;
  }

  .pt-4rem\@sm {
    padding-top: 4rem;
  }

  .mt-4rem\@sm {
    margin-top: 4rem;
  }

  .pt-5rem\@sm {
    padding-top: 5rem;
  }

  .mt-5rem\@sm {
    margin-top: 5rem;
  }

  .pt-6rem\@sm {
    padding-top: 6rem;
  }

  .mt-6rem\@sm {
    margin-top: 6rem;
  }

  .pt-7rem\@sm {
    padding-top: 7rem;
  }

  .mt-7rem\@sm {
    margin-top: 7rem;
  }

  .pt-8rem\@sm {
    padding-top: 8rem;
  }

  .mt-8rem\@sm {
    margin-top: 8rem;
  }

  .pt-9rem\@sm {
    padding-top: 9rem;
  }

  .mt-9rem\@sm {
    margin-top: 9rem;
  }

  .pb-1rem\@sm {
    padding-bottom: 1rem;
  }

  .mb-1rem\@sm {
    margin-bottom: 1rem;
  }

  .pb-2rem\@sm {
    padding-bottom: 2rem;
  }

  .mb-2rem\@sm {
    margin-bottom: 2rem;
  }

  .pb-3rem\@sm {
    padding-bottom: 3rem;
  }

  .mb-3rem\@sm {
    margin-bottom: 3rem;
  }

  .pb-4rem\@sm {
    padding-bottom: 4rem;
  }

  .mb-4rem\@sm {
    margin-bottom: 4rem;
  }

  .pb-5rem\@sm {
    padding-bottom: 5rem;
  }

  .mb-5rem\@sm {
    margin-bottom: 5rem;
  }

  .pb-6rem\@sm {
    padding-bottom: 6rem;
  }

  .mb-6rem\@sm {
    margin-bottom: 6rem;
  }

  .pb-7rem\@sm {
    padding-bottom: 7rem;
  }

  .mb-7rem\@sm {
    margin-bottom: 7rem;
  }

  .pb-8rem\@sm {
    padding-bottom: 8rem;
  }

  .mb-8rem\@sm {
    margin-bottom: 8rem;
  }

  .pb-9rem\@sm {
    padding-bottom: 9rem;
  }

  .mb-9rem\@sm {
    margin-bottom: 9rem;
  }
}
@media (min-width: 1024px) and (max-width: 1319px) {
  .pt-1rem\@md {
    padding-top: 1rem;
  }

  .mt-1rem\@md {
    margin-top: 1rem;
  }

  .pt-2rem\@md {
    padding-top: 2rem;
  }

  .mt-2rem\@md {
    margin-top: 2rem;
  }

  .pt-3rem\@md {
    padding-top: 3rem;
  }

  .mt-3rem\@md {
    margin-top: 3rem;
  }

  .pt-4rem\@md {
    padding-top: 4rem;
  }

  .mt-4rem\@md {
    margin-top: 4rem;
  }

  .pt-5rem\@md {
    padding-top: 5rem;
  }

  .mt-5rem\@md {
    margin-top: 5rem;
  }

  .pt-6rem\@md {
    padding-top: 6rem;
  }

  .mt-6rem\@md {
    margin-top: 6rem;
  }

  .pt-7rem\@md {
    padding-top: 7rem;
  }

  .mt-7rem\@md {
    margin-top: 7rem;
  }

  .pt-8rem\@md {
    padding-top: 8rem;
  }

  .mt-8rem\@md {
    margin-top: 8rem;
  }

  .pt-9rem\@md {
    padding-top: 9rem;
  }

  .mt-9rem\@md {
    margin-top: 9rem;
  }

  .pb-1rem\@md {
    padding-bottom: 1rem;
  }

  .mb-1rem\@md {
    margin-bottom: 1rem;
  }

  .pb-2rem\@md {
    padding-bottom: 2rem;
  }

  .mb-2rem\@md {
    margin-bottom: 2rem;
  }

  .pb-3rem\@md {
    padding-bottom: 3rem;
  }

  .mb-3rem\@md {
    margin-bottom: 3rem;
  }

  .pb-4rem\@md {
    padding-bottom: 4rem;
  }

  .mb-4rem\@md {
    margin-bottom: 4rem;
  }

  .pb-5rem\@md {
    padding-bottom: 5rem;
  }

  .mb-5rem\@md {
    margin-bottom: 5rem;
  }

  .pb-6rem\@md {
    padding-bottom: 6rem;
  }

  .mb-6rem\@md {
    margin-bottom: 6rem;
  }

  .pb-7rem\@md {
    padding-bottom: 7rem;
  }

  .mb-7rem\@md {
    margin-bottom: 7rem;
  }

  .pb-8rem\@md {
    padding-bottom: 8rem;
  }

  .mb-8rem\@md {
    margin-bottom: 8rem;
  }

  .pb-9rem\@md {
    padding-bottom: 9rem;
  }

  .mb-9rem\@md {
    margin-bottom: 9rem;
  }
}
@media (min-width: 1320px) {
  .pt-1rem\@lg {
    padding-top: 1rem;
  }

  .mt-1rem\@lg {
    margin-top: 1rem;
  }

  .pt-2rem\@lg {
    padding-top: 2rem;
  }

  .mt-2rem\@lg {
    margin-top: 2rem;
  }

  .pt-3rem\@lg {
    padding-top: 3rem;
  }

  .mt-3rem\@lg {
    margin-top: 3rem;
  }

  .pt-4rem\@lg {
    padding-top: 4rem;
  }

  .mt-4rem\@lg {
    margin-top: 4rem;
  }

  .pt-5rem\@lg {
    padding-top: 5rem;
  }

  .mt-5rem\@lg {
    margin-top: 5rem;
  }

  .pt-6rem\@lg {
    padding-top: 6rem;
  }

  .mt-6rem\@lg {
    margin-top: 6rem;
  }

  .pt-7rem\@lg {
    padding-top: 7rem;
  }

  .mt-7rem\@lg {
    margin-top: 7rem;
  }

  .pt-8rem\@lg {
    padding-top: 8rem;
  }

  .mt-8rem\@lg {
    margin-top: 8rem;
  }

  .pt-9rem\@lg {
    padding-top: 9rem;
  }

  .mt-9rem\@lg {
    margin-top: 9rem;
  }

  .pb-1rem\@lg {
    padding-bottom: 1rem;
  }

  .mb-1rem\@lg {
    margin-bottom: 1rem;
  }

  .pb-2rem\@lg {
    padding-bottom: 2rem;
  }

  .mb-2rem\@lg {
    margin-bottom: 2rem;
  }

  .pb-3rem\@lg {
    padding-bottom: 3rem;
  }

  .mb-3rem\@lg {
    margin-bottom: 3rem;
  }

  .pb-4rem\@lg {
    padding-bottom: 4rem;
  }

  .mb-4rem\@lg {
    margin-bottom: 4rem;
  }

  .pb-5rem\@lg {
    padding-bottom: 5rem;
  }

  .mb-5rem\@lg {
    margin-bottom: 5rem;
  }

  .pb-6rem\@lg {
    padding-bottom: 6rem;
  }

  .mb-6rem\@lg {
    margin-bottom: 6rem;
  }

  .pb-7rem\@lg {
    padding-bottom: 7rem;
  }

  .mb-7rem\@lg {
    margin-bottom: 7rem;
  }

  .pb-8rem\@lg {
    padding-bottom: 8rem;
  }

  .mb-8rem\@lg {
    margin-bottom: 8rem;
  }

  .pb-9rem\@lg {
    padding-bottom: 9rem;
  }

  .mb-9rem\@lg {
    margin-bottom: 9rem;
  }
}
.field__item--type-image {
  position: relative;
}
.field__item--type-image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  position: relative;
  overflow: hidden;
  /**
   * this is the above state, where the main content of padded-fullwidth is wider than padded-limited
   */
  padding-left: var(--edge--padding);
  padding-right: var(--edge--padding);
  --grid--vertical-padding--none: 0;
  --grid--vertical-padding--thin: 2px;
  --grid--vertical-padding--small: 10px;
  --grid--vertical-padding--large: var(--grid--vertical-padding--small);
}
.section--seamless {
  --edge--padding: 0px;
}
.section--limited, .section--padded {
  /**
   * on small screens padded-limited and padded-fullwidth have the same width
   */
  /**
   * this is the transition state in between below and above, where padded-limited stops growing forever,
   * and padded-fullwidth temporarily stops growing until enough space for the large edge padding is available.
   * they still have the same size
   */
}
@media (max-width: 1459px) {
  .section--limited, .section--padded {
    --edge--padding: 10px;
  }
}
@media (min-width: 1320px) and (max-width: 1459px) {
  .section--limited, .section--padded {
    --edge--padding: calc((100vw - 1320px) / 2);
  }
}
@media (max-width: 767px) {
  .section--limited, .section--padded {
    --edge--padding: 5px;
  }
}
@media (min-width: 1460px) {
  .section--limited {
    --edge--padding: calc((100vw - 1320px) / 2);
  }
  .section--padded {
    --edge--padding: 70px;
  }
}
@media (min-width: 768px) and (max-width: 1319px) {
  .section {
    --grid--vertical-padding--small: 20px;
  }
}
@media (min-width: 1320px) {
  .section {
    --grid--vertical-padding--small: 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1319px) {
  .section {
    --grid--vertical-padding--large: 40px;
  }
}
@media (min-width: 1320px) {
  .section {
    --grid--vertical-padding--large: 70px;
  }
}

.wrapper {
  position: relative;
  display: grid;
  align-items: stretch;
  --grid--gap--none: var(--grid--vertical-padding--none);
  --grid--gap--thin: var(--grid--vertical-padding--thin);
  --grid--gap--small: var(--grid--vertical-padding--small);
  --grid--gap--large: var(--grid--vertical-padding--large);
  row-gap: var(--grid--gap);
  margin-left: calc(var(--grid--gap) * -1 / 2);
  margin-right: calc(var(--grid--gap) * -1 / 2);
  width: calc(100% + var(--grid--gap));
}
.wrapper--cols-1-1 {
  grid-template-columns: 50% 50%;
}
.wrapper--cols-1-2 {
  grid-template-columns: 33.3333% 66.6667%;
}
.wrapper--cols-2-1 {
  grid-template-columns: 66.6667% 33.3333%;
}
.wrapper--cols-2-3 {
  grid-template-columns: 40% 60%;
}
.wrapper--cols-3-2 {
  grid-template-columns: 60% 40%;
}
.wrapper--cols-1-4 {
  grid-template-columns: 20% 80%;
}
.wrapper--cols-4-1 {
  grid-template-columns: 80% 20%;
}
.wrapper--cols-1-1-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
}
.wrapper--cols-4-3-3 {
  grid-template-columns: 40% 30% 30%;
}
.wrapper--cols-3-4-3 {
  grid-template-columns: 30% 40% 30%;
}
.wrapper--cols-3-3-4 {
  grid-template-columns: 30% 30% 40%;
}
.wrapper--cols-2-1-1 {
  grid-template-columns: 50% 25% 25%;
}
.wrapper--cols-1-2-1 {
  grid-template-columns: 25% 50% 25%;
}
.wrapper--cols-1-1-2 {
  grid-template-columns: 25% 25% 50%;
}
.wrapper--cols-3-1-1 {
  grid-template-columns: 60% 20% 20%;
}
.wrapper--cols-1-3-1 {
  grid-template-columns: 20% 60% 20%;
}
.wrapper--cols-1-1-3 {
  grid-template-columns: 20% 20% 60%;
}
.wrapper--rows-1-1 {
  grid-template-rows: 1fr 1fr;
}
.wrapper--rows-min-min {
  grid-template-rows: min-content min-content;
}
.wrapper--rows-1-min {
  grid-template-rows: 1fr min-content;
}
.wrapper--rows-min-1 {
  grid-template-rows: min-content 1fr;
}
.wrapper--rows-1 {
  grid-template-rows: 1fr;
}
.wrapper--rows-min {
  grid-template-rows: min-content;
}
.wrapper--gap-none {
  --grid--gap: var(--grid--gap--none);
}
.wrapper--gap-thin {
  --grid--gap: var(--grid--gap--thin);
}
.wrapper--gap-small {
  --grid--gap: var(--grid--gap--small);
}
.wrapper--gap-large {
  --grid--gap: var(--grid--gap--large);
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
  }
}

.area {
  display: flex;
  flex-flow: row wrap;
  padding-left: calc(var(--grid--gap) / 2);
  padding-right: calc(var(--grid--gap) / 2);
}
.area > * {
  width: 100%;
}
.area--vertical-align-top {
  align-content: flex-start;
}
.area--vertical-align-center {
  align-content: center;
}
.area--vertical-align-bottom {
  align-content: flex-end;
}
.area--vertical-align-stretch {
  align-content: stretch;
}
.area--vertical-align-space-between {
  align-content: space-between;
}
.area--vertical-align-space-around {
  align-content: space-around;
}
.area--background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.area--vertical-align-stretch .block, .area--vertical-align-stretch .field, .area--vertical-align-stretch .field__item--type-entity_reference, .area--vertical-align-stretch .field__item--type-entity_reference > * {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.wrapper--onerow {
  display: flex;
  flex-flow: row wrap;
  row-gap: 0;
}
.wrapper--onerow-flex-start {
  justify-content: flex-start;
}
.wrapper--onerow-center {
  justify-content: center;
}
.wrapper--onerow-flex-end {
  justify-content: flex-end;
}
.wrapper--onerow-space-around {
  justify-content: space-around;
}
.wrapper--onerow-space-evenly {
  justify-content: space-evenly;
}
.wrapper--onerow-space-between {
  justify-content: space-between;
}

.area--onerow.area--vertical-align-start {
  align-self: flex-start;
}
.area--onerow.area--vertical-align-center {
  align-self: center;
}
.area--onerow.area--vertical-align-end {
  align-self: flex-end;
}
.area--onerow-divide {
  flex: 1 1 0;
}
.area--onerow-1-1 {
  flex: 0 0 100%;
  max-width: 100%;
}
.area--onerow-5-6 {
  flex: 0 0 83.3333%;
  max-width: 83.3333%;
}
.area--onerow-4-5 {
  flex: 0 0 80%;
  max-width: 80%;
}
.area--onerow-3-4 {
  flex: 0 0 75%;
  max-width: 75%;
}
.area--onerow-2-3 {
  flex: 0 0 66.6667%;
  max-width: 66.6667%;
}
.area--onerow-3-5 {
  flex: 0 0 60%;
  max-width: 60%;
}
.area--onerow-1-2 {
  flex: 0 0 50%;
  max-width: 50%;
}
.area--onerow-2-5 {
  flex: 0 0 40%;
  max-width: 40%;
}
.area--onerow-1-3 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}
.area--onerow-3-10 {
  flex: 0 0 30%;
  max-width: 30%;
}
.area--onerow-1-4 {
  flex: 0 0 25%;
  max-width: 25%;
}
.area--onerow-1-5 {
  flex: 0 0 20%;
  max-width: 20%;
}
.area--onerow-1-6 {
  flex: 0 0 16.6667%;
  max-width: 16.6667%;
}
.area--onerow-1-10 {
  flex: 0 0 10%;
  max-width: 10%;
}
.area--onerow-1-12 {
  flex: 0 0 8.3333%;
  max-width: 8.3333%;
}
.area--onerow-1-20 {
  flex: 0 0 5%;
  max-width: 5%;
}
.area--onerow-shrink {
  flex: 0 1 auto;
}
.area--onerow-divide\@xs-up {
  flex: 1 1 0;
}
.area--onerow-1-1\@xs-up {
  flex: 0 0 100%;
  max-width: 100%;
}
.area--onerow-5-6\@xs-up {
  flex: 0 0 83.3333%;
  max-width: 83.3333%;
}
.area--onerow-4-5\@xs-up {
  flex: 0 0 80%;
  max-width: 80%;
}
.area--onerow-3-4\@xs-up {
  flex: 0 0 75%;
  max-width: 75%;
}
.area--onerow-2-3\@xs-up {
  flex: 0 0 66.6667%;
  max-width: 66.6667%;
}
.area--onerow-3-5\@xs-up {
  flex: 0 0 60%;
  max-width: 60%;
}
.area--onerow-1-2\@xs-up {
  flex: 0 0 50%;
  max-width: 50%;
}
.area--onerow-2-5\@xs-up {
  flex: 0 0 40%;
  max-width: 40%;
}
.area--onerow-1-3\@xs-up {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}
.area--onerow-3-10\@xs-up {
  flex: 0 0 30%;
  max-width: 30%;
}
.area--onerow-1-4\@xs-up {
  flex: 0 0 25%;
  max-width: 25%;
}
.area--onerow-1-5\@xs-up {
  flex: 0 0 20%;
  max-width: 20%;
}
.area--onerow-1-6\@xs-up {
  flex: 0 0 16.6667%;
  max-width: 16.6667%;
}
.area--onerow-1-10\@xs-up {
  flex: 0 0 10%;
  max-width: 10%;
}
.area--onerow-1-12\@xs-up {
  flex: 0 0 8.3333%;
  max-width: 8.3333%;
}
.area--onerow-1-20\@xs-up {
  flex: 0 0 5%;
  max-width: 5%;
}
.area--onerow-shrink\@xs-up {
  flex: 0 1 auto;
}
@media (min-width: 768px) {
  .area--onerow-divide\@sm-up {
    flex: 1 1 0;
  }
  .area--onerow-1-1\@sm-up {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .area--onerow-5-6\@sm-up {
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
  }
  .area--onerow-4-5\@sm-up {
    flex: 0 0 80%;
    max-width: 80%;
  }
  .area--onerow-3-4\@sm-up {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .area--onerow-2-3\@sm-up {
    flex: 0 0 66.6667%;
    max-width: 66.6667%;
  }
  .area--onerow-3-5\@sm-up {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .area--onerow-1-2\@sm-up {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .area--onerow-2-5\@sm-up {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .area--onerow-1-3\@sm-up {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  .area--onerow-3-10\@sm-up {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .area--onerow-1-4\@sm-up {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .area--onerow-1-5\@sm-up {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .area--onerow-1-6\@sm-up {
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
  }
  .area--onerow-1-10\@sm-up {
    flex: 0 0 10%;
    max-width: 10%;
  }
  .area--onerow-1-12\@sm-up {
    flex: 0 0 8.3333%;
    max-width: 8.3333%;
  }
  .area--onerow-1-20\@sm-up {
    flex: 0 0 5%;
    max-width: 5%;
  }
  .area--onerow-shrink\@sm-up {
    flex: 0 1 auto;
  }
}
@media (min-width: 1024px) {
  .area--onerow-divide\@md-up {
    flex: 1 1 0;
  }
  .area--onerow-1-1\@md-up {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .area--onerow-5-6\@md-up {
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
  }
  .area--onerow-4-5\@md-up {
    flex: 0 0 80%;
    max-width: 80%;
  }
  .area--onerow-3-4\@md-up {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .area--onerow-2-3\@md-up {
    flex: 0 0 66.6667%;
    max-width: 66.6667%;
  }
  .area--onerow-3-5\@md-up {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .area--onerow-1-2\@md-up {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .area--onerow-2-5\@md-up {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .area--onerow-1-3\@md-up {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  .area--onerow-3-10\@md-up {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .area--onerow-1-4\@md-up {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .area--onerow-1-5\@md-up {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .area--onerow-1-6\@md-up {
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
  }
  .area--onerow-1-10\@md-up {
    flex: 0 0 10%;
    max-width: 10%;
  }
  .area--onerow-1-12\@md-up {
    flex: 0 0 8.3333%;
    max-width: 8.3333%;
  }
  .area--onerow-1-20\@md-up {
    flex: 0 0 5%;
    max-width: 5%;
  }
  .area--onerow-shrink\@md-up {
    flex: 0 1 auto;
  }
}
@media (min-width: 1320px) {
  .area--onerow-divide\@lg-up {
    flex: 1 1 0;
  }
  .area--onerow-1-1\@lg-up {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .area--onerow-5-6\@lg-up {
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
  }
  .area--onerow-4-5\@lg-up {
    flex: 0 0 80%;
    max-width: 80%;
  }
  .area--onerow-3-4\@lg-up {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .area--onerow-2-3\@lg-up {
    flex: 0 0 66.6667%;
    max-width: 66.6667%;
  }
  .area--onerow-3-5\@lg-up {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .area--onerow-1-2\@lg-up {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .area--onerow-2-5\@lg-up {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .area--onerow-1-3\@lg-up {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  .area--onerow-3-10\@lg-up {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .area--onerow-1-4\@lg-up {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .area--onerow-1-5\@lg-up {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .area--onerow-1-6\@lg-up {
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
  }
  .area--onerow-1-10\@lg-up {
    flex: 0 0 10%;
    max-width: 10%;
  }
  .area--onerow-1-12\@lg-up {
    flex: 0 0 8.3333%;
    max-width: 8.3333%;
  }
  .area--onerow-1-20\@lg-up {
    flex: 0 0 5%;
    max-width: 5%;
  }
  .area--onerow-shrink\@lg-up {
    flex: 0 1 auto;
  }
}

.wrapper--repeatcol {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.area--repeatcol--main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--repeatcol--width), 100%), 1fr));
  row-gap: inherit;
  padding-left: 0;
  padding-right: 0;
  column-gap: var(--grid--gap);
}

.area--rows-1 {
  grid-template-rows: 1fr;
}
.area--rows-min {
  grid-template-rows: min-content;
}

.wrapper--lg1sm2__lg_left {
  grid-template-areas: "large upper_small" "large lower_small";
}
@media (max-width: 767px) {
  .wrapper--lg1sm2__lg_left {
    grid-template-areas: "large" "upper_small" "lower_small";
  }
}
.wrapper--lg1sm2__lg_right {
  grid-template-areas: "upper_small large" "lower_small large";
}
@media (max-width: 767px) {
  .wrapper--lg1sm2__lg_right {
    grid-template-areas: "upper_small" "lower_small" "large";
  }
}

@media (max-width: 767px) {
  .area--lg1sm2 {
    width: 100%;
  }
}
.area--lg1sm2--large {
  grid-area: large;
}
.area--lg1sm2--upper_small {
  grid-area: upper_small;
}
.area--lg1sm2--lower_small {
  grid-area: lower_small;
}

.wrapper--tall1wide1sm2__wide_upright {
  grid-template-areas: "tall wide wide" "tall small1 small2";
}
@media (max-width: 767px) {
  .wrapper--tall1wide1sm2__wide_upright {
    grid-template-areas: "tall" "wide" "small1" "small2";
  }
}
.wrapper--tall1wide1sm2__wide_downright {
  grid-template-areas: "tall small1 small2" "tall wide wide";
}
@media (max-width: 767px) {
  .wrapper--tall1wide1sm2__wide_downright {
    grid-template-areas: "tall" "small1" "small2" "wide";
  }
}
.wrapper--tall1wide1sm2__wide_upleft {
  grid-template-areas: "wide wide tall" "small1 small2 tall";
}
@media (max-width: 767px) {
  .wrapper--tall1wide1sm2__wide_upleft {
    grid-template-areas: "wide" "tall" "small1" "small2";
  }
}
.wrapper--tall1wide1sm2__wide_downleft {
  grid-template-areas: "small1 small2 tall" "wide wide tall";
}
@media (max-width: 767px) {
  .wrapper--tall1wide1sm2__wide_downleft {
    grid-template-areas: "small1" "small2" "tall" "wide";
  }
}

@media (max-width: 767px) {
  .area--tall1wide1sm2 {
    width: 100%;
  }
}
.area--tall1wide1sm2--tall {
  grid-area: tall;
}
.area--tall1wide1sm2--wide {
  grid-area: wide;
}
.area--tall1wide1sm2--small1 {
  grid-area: small1;
}
.area--tall1wide1sm2--small2 {
  grid-area: small2;
}

.wrapper--lg2sm2__sm_left {
  grid-template-areas: "upper_small large1 large2" "lower_small large1 large2";
}
@media (max-width: 767px) {
  .wrapper--lg2sm2__sm_left {
    grid-template-areas: "upper_small" "large1" "large2" "lower_small";
  }
}
.wrapper--lg2sm2__sm_center {
  grid-template-areas: "large1 upper_small large2" "large1 lower_small large2";
}
@media (max-width: 767px) {
  .wrapper--lg2sm2__sm_center {
    grid-template-areas: "large1" "upper_small" "large2" "lower_small";
  }
}
.wrapper--lg2sm2__sm_right {
  grid-template-areas: "large1 large2 upper_small" "large1 large2 lower_small";
}
@media (max-width: 767px) {
  .wrapper--lg2sm2__sm_right {
    grid-template-areas: "large1" "large2" "upper_small" "lower_small";
  }
}

@media (max-width: 767px) {
  .area--lg2sm2 {
    width: 100%;
  }
}
.area--lg2sm2--large1 {
  grid-area: large1;
}
.area--lg2sm2--large2 {
  grid-area: large2;
}
.area--lg2sm2--upper_small {
  grid-area: upper_small;
}
.area--lg2sm2--lower_small {
  grid-area: lower_small;
}

.wrapper--lg1sm4__large_left {
  grid-template-areas: "large upper_small1 upper_small2" "large lower_small1 lower_small2";
}
@media (max-width: 767px) {
  .wrapper--lg1sm4__large_left {
    grid-template-areas: "large" "upper_small1" "upper_small2" "lower_small1" "lower_small2";
  }
}
.wrapper--lg1sm4__large_center {
  grid-template-areas: "upper_small1 large upper_small2" "lower_small1 large lower_small2";
}
@media (max-width: 767px) {
  .wrapper--lg1sm4__large_center {
    grid-template-areas: "upper_small1" "large" "upper_small2" "lower_small1" "lower_small2";
  }
}
.wrapper--lg1sm4__large_right {
  grid-template-areas: "upper_small1 upper_small2 large" "lower_small1 lower_small2 large";
}
@media (max-width: 767px) {
  .wrapper--lg1sm4__large_right {
    grid-template-areas: "upper_small1" "upper_small2" "large" "lower_small1" "lower_small2";
  }
}

@media (max-width: 767px) {
  .area--lg1sm4 {
    width: 100%;
  }
}
.area--lg1sm4--large {
  grid-area: large;
}
.area--lg1sm4--upper_small1 {
  grid-area: upper_small1;
}
.area--lg1sm4--upper_small2 {
  grid-area: upper_small2;
}
.area--lg1sm4--lower_small1 {
  grid-area: lower_small1;
}
.area--lg1sm4--lower_small2 {
  grid-area: lower_small2;
}

/*# sourceMappingURL=layout.css.map */
