#toolbar-administration {
  font-size: 16px;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-style: normal;
  /**
   * Top Bar
   */
  /**
   * Tray
   */
  /**
   * Menu
   */
  /**
   * Icons
   */
  /**
   * Menu Handle
   */
  /**
   * Orientation toggle
   */
}
#toolbar-administration .toolbar-tab--user {
  float: right;
  position: relative;
}
.env--dev #toolbar-administration .toolbar-tab--user::before {
  color: red;
  content: "Entwicklungs-Server";
  position: absolute;
  left: -1.5rem;
  top: 50%;
  transform: translate(-100%, -50%);
  white-space: nowrap;
}
.node-preview-container ~ #toolbar-administration .toolbar-tab--user::before {
  color: yellow;
  content: "Nur Vorschau, nicht gespeichert";
  position: absolute;
  left: -1.5rem;
  top: 50%;
  transform: translate(-100%, -50%);
  white-space: nowrap;
}
#toolbar-administration .toolbar-bar {
  color: white;
  background-color: #000;
  box-shadow: -1px 0 3px 1px rgba(0, 0, 0, 0.3333);
  /* LTR */
}
#toolbar-administration .toolbar-bar.hidden {
  display: none !important;
}
#toolbar-administration .toolbar-bar button {
  font-size: 16px;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-style: normal;
  height: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: white;
}
#toolbar-administration .toolbar-item {
  padding: 1em 1em;
  cursor: pointer;
  text-decoration: none;
  line-height: 1em;
  color: white;
}
#toolbar-administration .toolbar-item:hover, #toolbar-administration .toolbar-item:focus, #toolbar-administration .toolbar-item.is-active {
  background-color: #262626;
}
#toolbar-administration .toolbar-item[href^="/unmasquerade"] {
  background-color: red;
}
#toolbar-administration .toolbar-item[href^="/unmasquerade"]:hover, #toolbar-administration .toolbar-item[href^="/unmasquerade"]:focus {
  background-color: darkred;
}
#toolbar-administration .toolbar-tray {
  background-color: #262626;
}
#toolbar-administration .toolbar-tray.toolbar-tray-horizontal {
  padding-right: 5em;
  /* LTR */
  border-bottom: 1px solid #aaa;
  box-shadow: -2px 1px 3px 1px rgba(0, 0, 0, 0.3333);
  /* LTR */
}
#toolbar-administration .toolbar-tray.toolbar-tray-horizontal .menu-item + .menu-item {
  border-left: 1px solid #aaa;
  /* LTR */
}
#toolbar-administration .toolbar-tray.toolbar-tray-horizontal .menu-item:last-child {
  border-right: 1px solid #aaa;
  /* LTR */
}
#toolbar-administration .toolbar-tray.toolbar-tray-vertical {
  border-right: 1px solid #aaa;
  /* LTR */
  box-shadow: -1px 0 5px 2px rgba(0, 0, 0, 0.3333);
  /* LTR */
}
#toolbar-administration .toolbar-tray.toolbar-tray-vertical ul.toolbar-menu, #toolbar-administration .toolbar-tray.toolbar-tray-vertical .menu-item + .menu-item {
  border-top: 1px solid #aaa;
}
#toolbar-administration .toolbar-tray.toolbar-tray-vertical .menu-item:last-child {
  border-bottom: 1px solid #aaa;
}
#toolbar-administration .toolbar-tray a {
  padding: 1em 2.25em 1em 2.75em;
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: #262626;
}
#toolbar-administration .toolbar-tray a:hover, #toolbar-administration .toolbar-tray a:focus, #toolbar-administration .toolbar-tray a.is-active {
  background-color: #4d4d4d;
}
#toolbar-administration .toolbar-tray .level-2.menu-item:last-child {
  border-bottom: 0;
}
#toolbar-administration .toolbar-tray .level-2 a {
  background-color: #4d4d4d;
}
#toolbar-administration .toolbar-tray .level-2 a:hover, #toolbar-administration .toolbar-tray .level-2 a:focus, #toolbar-administration .toolbar-tray .level-2 a.is-active {
  background-color: #737373;
}
#toolbar-administration .toolbar-tray .level-3.menu-item:last-child {
  border-bottom: 0;
}
#toolbar-administration .toolbar-tray .level-3 a {
  background-color: #737373;
}
#toolbar-administration .toolbar-tray .level-3 a:hover, #toolbar-administration .toolbar-tray .level-3 a:focus, #toolbar-administration .toolbar-tray .level-3 a.is-active {
  background-color: #999999;
}
#toolbar-administration .toolbar-tray .level-4.menu-item:last-child {
  border-bottom: 0;
}
#toolbar-administration .toolbar-tray .level-4 a {
  background-color: #999999;
}
#toolbar-administration .toolbar-tray .level-4 a:hover, #toolbar-administration .toolbar-tray .level-4 a:focus, #toolbar-administration .toolbar-tray .level-4 a.is-active {
  background-color: #bfbfbf;
}
#toolbar-administration .toolbar-tray .level-5.menu-item:last-child {
  border-bottom: 0;
}
#toolbar-administration .toolbar-tray .level-5 a {
  background-color: #bfbfbf;
}
#toolbar-administration .toolbar-tray .level-5 a:hover, #toolbar-administration .toolbar-tray .level-5 a:focus, #toolbar-administration .toolbar-tray .level-5 a.is-active {
  background-color: #e6e6e6;
}
#toolbar-administration .toolbar-tray nav > * > .toolbar-menu > li > * > a, #toolbar-administration .toolbar-tray nav > * > .toolbar-menu > li > a {
  padding: 1em 1em 1em 1em;
}
#toolbar-administration .toolbar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
#toolbar-administration .toolbar-box {
  position: relative;
  display: block;
  width: auto;
  line-height: 1em;
  /* this prevents the value "normal" from being returned as the line-height */
}
#toolbar-administration .toolbar-tray-horizontal .toolbar-icon.toolbar-handle {
  display: none;
}
#toolbar-administration .toolbar-tray-vertical .toolbar-menu ul {
  display: none;
}
#toolbar-administration .toolbar-tray-open .menu-item--expanded ul {
  display: none;
}
#toolbar-administration .toolbar-tray-vertical li.open > ul {
  display: block;
  /* Show the sub-menus */
}
#toolbar-administration .toolbar-tray-vertical .toolbar-handle + a {
  margin-right: 3em;
  /* LTR */
}
#toolbar-administration .toolbar-icon {
  position: relative;
}
#toolbar-administration .toolbar-icon > svg {
  margin-right: 0.5em;
}
#toolbar-administration .toolbar-icon.toolbar-handle {
  width: 3em;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  /* LTR */
  bottom: 0;
  display: block;
  height: 100%;
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: white;
}
#toolbar-administration .toolbar-icon.toolbar-handle:hover, #toolbar-administration .toolbar-icon.toolbar-handle:focus {
  color: #a1beff;
  cursor: pointer;
}
#toolbar-administration .toolbar-icon.toolbar-handle > span {
  position: absolute;
  left: -9999px;
}
#toolbar-administration .toolbar-icon.toolbar-handle > svg {
  transform: rotate(0);
  transition: transform 150ms linear;
}
#toolbar-administration .toolbar-icon.toolbar-handle.open > svg {
  transform: rotate(180deg);
}
#toolbar-administration .toolbar-toggle-orientation {
  height: 100%;
  padding: 0;
  background-color: #262626;
}
#toolbar-administration .toolbar-toggle-orientation > .toolbar-lining {
  float: right;
  /* LTR */
}
#toolbar-administration .toolbar-toggle-orientation button {
  display: inline-block;
  cursor: pointer;
  width: 3em;
  height: 3em;
  z-index: 1;
  top: 0;
  right: 0;
  /* LTR */
  bottom: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  position: relative;
  text-indent: -9999px;
  color: white;
}
#toolbar-administration .toolbar-toggle-orientation button:hover, #toolbar-administration .toolbar-toggle-orientation button:focus {
  color: #a1beff;
}
#toolbar-administration .toolbar-toggle-orientation button svg {
  position: absolute;
  margin-right: 0;
  width: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#toolbar-administration .toolbar-tray-horizontal .toolbar-toggle-orientation {
  border-left: 1px solid #aaa;
  /* LTR */
}

.node-preview-container {
  display: none !important;
}

/*# sourceMappingURL=toolbar_black.css.map */
