//
// Mixins to generate media queries
//

@use "sass:map";
@use "sass:list";

//@see Drupal\wt_cms\Plugin\Layout\CmsLayout::getBreakpoints
$set: (
  'xs': 0,
  'sm': 768px,
  'md': 1024px,
  'lg': 1320px,
) !default;

//@see Drupal\wt_cms\Plugin\Layout\CmsLayout::getSectionWidthOptions
$edge-paddings: (
  'xs': 5px,
  'small': 10px,
  'large': 70px,
) !default;

//private
@function _next($name, $breakpoints) {
  $keys: map.keys($breakpoints);
  $i: list.index($keys, $name);
  @return if($i < list.length($keys), list.nth($keys, $i + 1), null);
}

@function _min($name, $breakpoints) {
  $min: map.get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@function _max($name, $breakpoints) {
  $next: _next($name, $breakpoints);
  @return if($next, _min($next, $breakpoints) - 1px, null);
}

//public
@mixin up($name, $breakpoints: $set) {
  $min: _min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin down($name, $breakpoints: $set) {
  $max: _max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}


@mixin between($lower, $upper, $breakpoints: $set) {
  $min: _min($lower, $breakpoints);
  $max: _max($upper, $breakpoints);

  @if $min and $max {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $min {
    @include up($lower, $breakpoints) {
      @content;
    }
  } @else if $max {
    @include down($upper, $breakpoints) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin only($name, $breakpoints: $set) {
  @include between($name, $name, $breakpoints) {
    @content;
  }
}

@mixin padded($direction, $breakpoints: $set, $paddings: $edge-paddings) {
  @if ($direction == 'below') {
    /**
     * on small screens padded-limited and padded-fullwidth have the same width
     */
    @media (max-width: #{map.get($breakpoints, 'lg') + 2 * map.get($paddings, 'large') - 1px}) {
      @content;
    }
  }
  @else if ($direction == 'in-between') {
    /**
     * this is the transition state in between below and above, where padded-limited stops growing forever,
     * and padded-fullwidth temporarily stops growing until enough space for the large edge padding is available.
     * they still have the same size
     */
    @media (min-width: #{map.get($set, 'lg')}) and (max-width: #{map.get($set, 'lg') + 2 * map.get($paddings, 'large') - 1px}) {
      @content;
    }
  }
  @else if ($direction == 'above') {
    /**
     * this is the above state, where the main content of padded-fullwidth is wider than padded-limited
     */
    @media (min-width: #{map.get($set, 'lg') + 2 * map.get($paddings, 'large')}) {
      @content;
    }
  }
  @else {
    @error "Direction property #{$direction} must be below, between or above.";
  }
}
