@use "_bp" as bp;
@use "sass:list";
@use "sass:map";
@use "sass:string";
@use "sass:meta";

//
//
// LAYOUT UTILITIES INTENTED FOR THEME REUSE
//
//

//@see Drupal\wt_cms\Plugin\Layout\CmsLayout::getInnerGapOptions
$inner-paddings: (
  'none',
  'thin',
  'small',
  'large',
) !default;

// utility classes for spacing like .bl-thin or .mt-3rem
// don't overuse this, atomic CSS is a _very_ bad idea!
// only use it when you explicitly want to say something like
// "the spacing on this element shall be in sync with the layout builder / admin UI value"
@mixin grid-spacings($sides, $values: $inner-paddings) {
  @each $side-abbr, $side-name in $sides {
    @each $value in $values {
      .p#{$side-abbr}-#{$value} {
        padding-#{$side-name}: var(--grid--vertical-padding--#{$value});
      }
      .m#{$side-abbr}-#{$value} {
        margin-#{$side-name}: var(--grid--vertical-padding--#{$value});
      }
    }
  }
  @each $bpkey, $bpvalue in bp.$set {
    @include bp.only($bpkey) {
      @each $side-abbr, $side-name in $sides {
        @each $value in $values {
          .p#{$side-abbr}-#{$value}\@#{$bpkey} {
            padding-#{$side-name}: var(--grid--vertical-padding--#{$value});
          }
          .m#{$side-abbr}-#{$value}\@#{$bpkey} {
            margin-#{$side-name}: var(--grid--vertical-padding--#{$value});
          }
        }
      }
    }
  }
}
@include grid-spacings(("t": "top", "r": "right", "b": "bottom", "l": "left"));

//@see Drupal\wt_cms\Plugin\Layout\CmsLayout::getTopPaddingOptions
//@see Drupal\wt_cms\Plugin\Layout\CmsLayout::getBottomPaddingOptions
$rem-paddings-upper-limit: 9 !default;

@mixin rem-spacings($sides, $upper-limit: $rem-paddings-upper-limit) {
  @each $side-abbr, $side-name in $sides {
    @for $value from 1 through $upper-limit {
      .p#{$side-abbr}-#{$value}rem {
        padding-#{$side-name}: #{$value}rem;
      }
      .m#{$side-abbr}-#{$value}rem {
        margin-#{$side-name}: #{$value}rem;
      }
    }
  }
  @each $bpkey, $bpvalue in bp.$set {
    @include bp.only($bpkey) {
      @each $side-abbr, $side-name in $sides {
        @for $value from 1 through $upper-limit {
          .p#{$side-abbr}-#{$value}rem\@#{$bpkey} {
            padding-#{$side-name}: #{$value}rem;
          }
          .m#{$side-abbr}-#{$value}rem\@#{$bpkey} {
            margin-#{$side-name}: #{$value}rem;
          }
        }
      }
    }
  }
}
@include rem-spacings(("t": "top", "b": "bottom"));

//
// by default we want images to be responsive
//
.field__item--type-image {
  position: relative;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

//
// section
//

.section {
  position: relative;
  overflow: hidden;

  &--seamless {
    --edge--padding: 0px;
  }

  &--limited, &--padded {
    @include bp.padded(below) {
      --edge--padding: #{map.get(bp.$edge-paddings, 'small')};
    }
    @include bp.padded(in-between) {
      --edge--padding: calc((100vw - #{map.get(bp.$set, 'lg')}) / 2);
    }
    @include bp.only(xs) {
      --edge--padding: #{map.get(bp.$edge-paddings, 'xs')};
    }
  }

  @include bp.padded(above) {
    &--limited {
      --edge--padding: calc((100vw - #{map.get(bp.$set, 'lg')}) / 2);
    }
    &--padded {
      --edge--padding: #{map.get(bp.$edge-paddings, 'large')};
    }
  }

  padding-left: var(--edge--padding);
  padding-right: var(--edge--padding);

  //@see Drupal\wt_cms\Plugin\Layout\CmsLayout::getTopPaddingOptions
  //@see Drupal\wt_cms\Plugin\Layout\CmsLayout::getBottomPaddingOptions
  --grid--vertical-padding--none: 0;
  --grid--vertical-padding--thin: 2px;
  --grid--vertical-padding--small: 10px;
  @include bp.between(sm, md) {
    --grid--vertical-padding--small: 20px;
  }

  @include bp.up(lg) {
    --grid--vertical-padding--small: 30px;
  }

  --grid--vertical-padding--large: var(--grid--vertical-padding--small);
  @include bp.only(md) {
    --grid--vertical-padding--large: 40px;
  }
  @include bp.only(lg) {
    --grid--vertical-padding--large: 70px;
  }
}

//
// wrapper
//

//@see Drupal\wt_cms\Plugin\Layout\CmsLayout::getColsOptions
//do NOT use flex units like "1fr 1fr", because they would loose vertical alignment across multiple sections,
//e.g. 3fr is not same with when using "1fr 1fr 3fr" vs. "2fr 3fr"
$wrapper--cols: (
  '1-1': 50% 50%,
  '1-2': 33.3333% 66.6667%,
  '2-1': 66.6667% 33.3333%,
  '2-3': 40% 60%,
  '3-2': 60% 40%,
  '1-4': 20% 80%,
  '4-1': 80% 20%,
  '1-1-1': 33.3333% 33.3333% 33.3333%,
  '4-3-3': 40% 30% 30%,
  '3-4-3': 30% 40% 30%,
  '3-3-4': 30% 30% 40%,
  '2-1-1': 50% 25% 25%,
  '1-2-1': 25% 50% 25%,
  '1-1-2': 25% 25% 50%,
  '3-1-1': 60% 20% 20%,
  '1-3-1': 20% 60% 20%,
  '1-1-3': 20% 20% 60%,
) !default;


//@see Drupal\wt_cms\Plugin\Layout\CmsLayout::getRowsOptions
$wrapper--rows: (
  '1-1': 1fr 1fr,
  'min-min': min-content min-content,
  '1-min': 1fr min-content,
  'min-1': min-content 1fr,
  '1': 1fr,
  'min': min-content,
) !default;

.wrapper {
  position: relative;
  display: grid;
  align-items: stretch;

  @each $key, $value in $wrapper--cols {
    &--cols-#{$key} {
      grid-template-columns: $value;
    }
  }

  @each $key, $value in $wrapper--rows {
    &--rows-#{$key} {
      grid-template-rows: $value;
    }
  }

  //@see Drupal\wt_cms\Plugin\Layout\CmsLayout::getInnerGapOptions
  --grid--gap--none: var(--grid--vertical-padding--none);
  --grid--gap--thin: var(--grid--vertical-padding--thin);
  --grid--gap--small: var(--grid--vertical-padding--small);
  --grid--gap--large: var(--grid--vertical-padding--large);

  @each $key in $inner-paddings {
    &--gap-#{$key} {
      //do NOT use "gap" for inner horizontal padding. it would mess up with "fr" units
      //e.g. (1fr + 1fr + 3fr) !== (2fr + 3fr) when using gap (due 1 extra gap)
      --grid--gap: var(--grid--gap--#{$key});
    }
  }
  row-gap: var(--grid--gap);
  //this negates the padding of ".area" on the edge of screens
  margin-left: calc(var(--grid--gap) * -1 / 2);
  margin-right: calc(var(--grid--gap) * -1 / 2);
  width: calc(100% + var(--grid--gap));

  @include bp.down(xs) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
  }
}

//
// areas/regions
//

//@see Drupal\wt_cms\Plugin\Layout\CmsLayout::getVerticalAlignOptions
$area--vertical-align: (
  'top': flex-start,
  'center': center,
  'bottom': flex-end,
  'stretch': stretch,
  'space-between': space-between,
  'space-around': space-around,
) !default;

.area {
  display: flex;
  flex-flow: row wrap;

  > * {
    width: 100%;
  }

  @each $key, $value in $area--vertical-align {
    &--vertical-align-#{$key} {
      align-content: $value;
    }
  }

  &--background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  // this negates the negative margin on ".wrapper"
  padding-left: calc(var(--grid--gap) / 2);
  padding-right: calc(var(--grid--gap) / 2);
}

//for a justified layout we need to stretch the children too.
.area--vertical-align-stretch {
  .block, .field, .field__item--type-entity_reference, .field__item--type-entity_reference > * {
    display: flex;
    width: 100%;
    align-items: stretch;
  }
}


//
// Onerow
//

//@see Drupal\wt_cms\Plugin\Layout\OneRowLayout::getJustifyContentOptions
$onerow--justify-content: (flex-start, center, flex-end, space-around, space-evenly, space-between) !default;

.wrapper--onerow {
  display: flex; //the only flex based wrapper
  flex-flow: row wrap;
  row-gap: 0; //maybe use this again once safari supports it (instead of margin-bottom on children)

  @each $value in $onerow--justify-content {
    &-#{$value} {
      justify-content: $value;
    }
  }
}

//@see Drupal\wt_cms\Plugin\Layout\OneRowLayout::getFlexOptions
$onerow--flexvalues: (
  'divide': 1 1 0,
  '1-1': 0 0 100%,
  '5-6': 0 0 83.3333%,
  '4-5': 0 0 80%,
  '3-4': 0 0 75%,
  '2-3': 0 0 66.6667%,
  '3-5': 0 0 60%,
  '1-2': 0 0 50%,
  '2-5': 0 0 40%,
  '1-3': 0 0 33.3333%,
  '3-10': 0 0 30%,
  '1-4': 0 0 25%,
  '1-5': 0 0 20%,
  '1-6': 0 0 16.6667%,
  '1-10': 0 0 10%,
  '1-12': 0 0 8.3333%,
  '1-20': 0 0 5%,
  'shrink': 0 1 auto,
) !default;

.area--onerow {
  &.area--vertical-align-start {
    align-self: flex-start;
  }

  &.area--vertical-align-center {
    align-self: center;
  }

  &.area--vertical-align-end {
    align-self: flex-end;
  }

  @each $flexkey, $flexvalue in $onerow--flexvalues {
    &-#{$flexkey} {
      flex: $flexvalue;
      @if (string.index(meta.inspect($flexvalue), '%') == string.length(meta.inspect($flexvalue))) {
        max-width: string.slice(meta.inspect($flexvalue), 5);
      }
    }
  }

  @each $bpkey, $bpvalue in bp.$set {
    @include bp.up($bpkey) {
      @each $flexkey, $flexvalue in $onerow--flexvalues {
        &-#{$flexkey}\@#{$bpkey}-up {
          flex: $flexvalue;
          @if (string.index(meta.inspect($flexvalue), '%') == string.length(meta.inspect($flexvalue))) {
            max-width: string.slice(meta.inspect($flexvalue), 5);
          }
        }
      }
    }
  }
}



//
// Repeat col
//

//repeat col acts like a grid layout, but one level deeper than usual,
//and uses the single "main" region as container instead of the wrapper
.wrapper--repeatcol {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.area--repeatcol {
  &--main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--repeatcol--width), 100%), 1fr));
    row-gap: inherit;
    padding-left: 0;
    padding-right: 0;
    column-gap: var(--grid--gap);
  }
}

//@see Drupal\wt_cms\Plugin\Layout\RepeatcolLayout::getRowsOptions
$area--rows: (
  '1': 1fr,
  'min': min-content,
) !default;

.area {
  @each $key, $value in $area--rows {
    &--rows-#{$key} {
      grid-template-rows: $value;
    }
  }
}

//
// 1 large, 2 small
//

.wrapper--lg1sm2 {
  &__lg_left {
    grid-template-areas:
      "large upper_small"
      "large lower_small";

    @include bp.down(xs) {
      grid-template-areas: "large" "upper_small" "lower_small";
    }
  }

  &__lg_right {
    grid-template-areas:
      "upper_small large"
      "lower_small large";

    @include bp.down(xs) {
      grid-template-areas: "upper_small" "lower_small" "large";
    }
  }
}

.area--lg1sm2 {
  @include bp.down(xs) {
    width: 100%;
  }

  &--large {
    grid-area: large;
  }

  &--upper_small {
    grid-area: upper_small;
  }

  &--lower_small {
    grid-area: lower_small;
  }
}



//
// 1 tall, 1 wide, 2 small
//

.wrapper--tall1wide1sm2 {
  &__wide_upright {
    grid-template-areas:
      "tall wide wide"
      "tall small1 small2";

    @include bp.down(xs) {
      grid-template-areas: "tall" "wide" "small1" "small2";
    }
  }

  &__wide_downright {
    grid-template-areas:
      "tall small1 small2"
      "tall wide wide";

    @include bp.down(xs) {
      grid-template-areas: "tall" "small1" "small2" "wide";
    }
  }

  &__wide_upleft {
    grid-template-areas:
      "wide wide tall"
      "small1 small2 tall";

    @include bp.down(xs) {
      grid-template-areas: "wide" "tall" "small1" "small2";
    }
  }

  &__wide_downleft {
    grid-template-areas:
      "small1 small2 tall"
      "wide wide tall";

    @include bp.down(xs) {
      grid-template-areas: "small1" "small2" "tall" "wide";
    }
  }
}

.area--tall1wide1sm2 {
  @include bp.down(xs) {
    width: 100%;
  }

  &--tall {
    grid-area: tall;
  }

  &--wide {
    grid-area: wide;
  }

  &--small1 {
    grid-area: small1;
  }

  &--small2 {
    grid-area: small2;
  }
}



//
// 2 large, 2 small
//

.wrapper--lg2sm2 {
  &__sm_left {
    grid-template-areas:
      "upper_small large1 large2"
      "lower_small large1 large2";

    @include bp.down(xs) {
      grid-template-areas: "upper_small" "large1" "large2" "lower_small";
    }
  }

  &__sm_center {
    grid-template-areas:
      "large1 upper_small large2"
      "large1 lower_small large2";

    @include bp.down(xs) {
      grid-template-areas: "large1" "upper_small" "large2" "lower_small";
    }
  }

  &__sm_right {
    grid-template-areas:
      "large1 large2 upper_small"
      "large1 large2 lower_small";

    @include bp.down(xs) {
      grid-template-areas: "large1" "large2" "upper_small" "lower_small";
    }
  }
}

.area--lg2sm2 {
  @include bp.down(xs) {
    width: 100%;
  }

  &--large1 {
    grid-area: large1;
  }

  &--large2 {
    grid-area: large2;
  }

  &--upper_small {
    grid-area: upper_small;
  }

  &--lower_small {
    grid-area: lower_small;
  }
}



//
// 1 large, 4 small
//

.wrapper--lg1sm4 {
  &__large_left {
    grid-template-areas:
      "large upper_small1 upper_small2"
      "large lower_small1 lower_small2";

    @include bp.down(xs) {
      grid-template-areas: "large" "upper_small1" "upper_small2" "lower_small1" "lower_small2";
    }
  }

  &__large_center {
    grid-template-areas:
      "upper_small1 large upper_small2"
      "lower_small1 large lower_small2";

    @include bp.down(xs) {
      grid-template-areas: "upper_small1" "large" "upper_small2" "lower_small1" "lower_small2";
    }
  }

  &__large_right {
    grid-template-areas:
      "upper_small1 upper_small2 large"
      "lower_small1 lower_small2 large";

    @include bp.down(xs) {
      grid-template-areas: "upper_small1" "upper_small2" "large" "lower_small1" "lower_small2";
    }
  }
}

.area--lg1sm4 {
  @include bp.down(xs) {
    width: 100%;
  }

  &--large {
    grid-area: large;
  }

  &--upper_small1 {
    grid-area: upper_small1;
  }

  &--upper_small2 {
    grid-area: upper_small2;
  }

  &--lower_small1 {
    grid-area: lower_small1;
  }

  &--lower_small2 {
    grid-area: lower_small2;
  }
}
