@use "sass:color";

#toolbar-administration {
  font-size: 16px;
  //this is taken from Claro admin, also see wt_frontend theme config.$font-family--base
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: normal;
  font-style: normal;
  $text-color: white;
  $background-color: #000;
  $border-color: #aaa;
  $background-lightening-steps: 15%;
  $claro-color: #003cc5;

  .toolbar-tab--user {
    float: right;
    position: relative;

    .env--dev &::before {
      color: red;
      content: 'Entwicklungs-Server';
      position: absolute;
      left: -1.5rem;
      top: 50%;
      transform: translate(-100%, -50%);
      white-space: nowrap;
    }

    .node-preview-container ~ &::before {
      color: yellow;
      content: 'Nur Vorschau, nicht gespeichert';
      position: absolute;
      left: -1.5rem;
      top: 50%;
      transform: translate(-100%, -50%);
      white-space: nowrap;
    }
  }

  /**
   * Top Bar
   */
  .toolbar-bar {
    color: $text-color;
    background-color: $background-color;
    box-shadow: -1px 0 3px 1px rgba(0, 0, 0, 0.3333); /* LTR */

    &.hidden {
      display: none !important;
    }


    button {
      font-size: 16px;
      font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
      font-weight: normal;
      font-style: normal;
      height: 100%;
      background-color: transparent;
      border: 0;
      outline: 0;
      color: $text-color;
    }
  }

  //top items
  .toolbar-item {
    padding: 1em 1em;
    cursor: pointer;
    text-decoration: none;
    line-height: 1em;
    color: $text-color;

    &:hover, &:focus, &.is-active {
      background-color: color.scale($background-color, $lightness: $background-lightening-steps);
    }

    &[href^="/unmasquerade"] {
      background-color: red;

      &:hover, &:focus {
        background-color: darkred;
      }
    }
  }

  /**
   * Tray
   */
  .toolbar-tray {
    background-color: color.scale(#000, $lightness: $background-lightening-steps);

    &.toolbar-tray-horizontal {
      padding-right: 5em; /* LTR */
      border-bottom: 1px solid $border-color;
      box-shadow: -2px 1px 3px 1px rgba(0, 0, 0, 0.3333); /* LTR */

      .menu-item + .menu-item {
        border-left: 1px solid $border-color; /* LTR */
      }

      .menu-item:last-child {
        border-right: 1px solid $border-color; /* LTR */
      }
    }

    &.toolbar-tray-vertical {
      border-right: 1px solid $border-color; /* LTR */
      box-shadow: -1px 0 5px 2px rgba(0, 0, 0, 0.3333); /* LTR */

      ul.toolbar-menu, .menu-item + .menu-item {
        border-top: 1px solid $border-color;
      }

      .menu-item:last-child {
        border-bottom: 1px solid $border-color;
      }
    }

    a {
      padding: 1em 2.25em 1em 2.75em;
      cursor: pointer;
      text-decoration: none;
      color: $text-color;
      background-color: color.scale(#000, $lightness: 1 * $background-lightening-steps);

      &:hover, &:focus, &.is-active {
        background-color: color.scale(#000, $lightness: 2 * $background-lightening-steps);
      }
    }

    @for $i from 2 through 5 {
      .level-#{$i} {
        &.menu-item:last-child {
          border-bottom: 0;
        }

        a {
          background-color: color.scale(#000, $lightness: $i * $background-lightening-steps);

          &:hover, &:focus, &.is-active {
            background-color: color.scale(#000, $lightness: ($i+1) * $background-lightening-steps);
          }
        }
      }
    }

    nav > * > .toolbar-menu > li > * > a, nav > * > .toolbar-menu > li > a{
      padding: 1em 1em 1em 1em;
    }
  }

  /**
   * Menu
   */
  .toolbar-menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .toolbar-box {
    position: relative;
    display: block;
    width: auto;
    line-height: 1em; /* this prevents the value "normal" from being returned as the line-height */
  }

  //Hidden horizontal toolbar handle icon.
  .toolbar-tray-horizontal .toolbar-icon.toolbar-handle {
    display: none;
  }

  //Hidden vertical toolbar sub-menus by default.
  .toolbar-tray-vertical .toolbar-menu ul {
    display: none;
  }

  //Hidden toolbar sub-menus by default.
  .toolbar-tray-open .menu-item--expanded ul {
    display: none;
  }
  .toolbar-tray-vertical li.open > ul {
    display: block; /* Show the sub-menus */
  }
  .toolbar-tray-vertical .toolbar-handle + a {
    margin-right: 3em; /* LTR */
  }

  /**
   * Icons
   */
  .toolbar-icon {
    position: relative;

    > svg {
      margin-right: 0.5em;
    }
  }

  /**
   * Menu Handle
   */
  .toolbar-icon.toolbar-handle {
    width: 3em;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0; /* LTR */
    bottom: 0;
    display: block;
    height: 100%;
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    color: $text-color;

    &:hover, &:focus {
      color: color.scale($claro-color, $lightness: 70%);
      cursor: pointer;
    }

    > span {
      position: absolute;
      left: -9999px;
    }

    > svg {
      transform: rotate(0);
      transition: transform 150ms linear;
    }

    &.open > svg {
      transform: rotate(180deg);
    }
  }

  /**
   * Orientation toggle
   */
  .toolbar-toggle-orientation {
    height: 100%;
    padding: 0;
    background-color: color.scale($background-color, $lightness: $background-lightening-steps);

    > .toolbar-lining {
      float: right; /* LTR */
    }

    button {
      display: inline-block;
      cursor: pointer;
      width: 3em;
      height: 3em;
      z-index: 1;
      top: 0;
      right: 0; /* LTR */
      bottom: 0;
      padding: 0;
      background-color: transparent;
      border: 0;
      outline: 0;
      position: relative;
      text-indent: -9999px;
      color: $text-color;

      &:hover, &:focus {
        color: color.scale($claro-color, $lightness: 70%);
      }

      svg {
        position: absolute;
        margin-right: 0;
        width: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .toolbar-tray-horizontal .toolbar-toggle-orientation {
    border-left: 1px solid $border-color; /* LTR */
  }
}

//this was moved into toolbar by JS in theme wt_frontend, so hide the original container
.node-preview-container {
  display: none !important;
}
