{% if content %}
  <div {{ attributes }}>
    {% if content['background'] %}
      <div {{ region_attributes['background'] }}>
        {{ content['background'] }}
      </div>
    {% endif %}
    <div {{ content['#wrapper_attributes'] }}>
      {% for region_key, region_label in content['#section'] %}
        {% if region_key|first != '#' and region_key != 'background' and content[region_key] %}
          <div {{ region_attributes[region_key] }}>
            {{ content[region_key] }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
